<app-context-menu (itemClicked)="navigationContextMenuItemClicked($event)"></app-context-menu>

<app-welcome-modal></app-welcome-modal>
<app-settings-modal (closed)="handleSettingsModalClosed()"></app-settings-modal>
<app-changelog-modal></app-changelog-modal>

<div class="container-fluid">
  <div id="page" class="d-flex flex-column">
    <!-- First row: logo / env name +start / env port + prefix -->
    <div class="header">
      <div class="row">
        <div class="col-2 menu-columns--width">
          <div class="logo"></div>
        </div>

        <ng-container *ngIf="activeEnvironment$ | async as activeEnvironment; else noActiveEnvironment">

          <div class="col-2 menu-columns--width">
            <div class="input-group">
              <span class="input-group-prepend">
                <button class="btn btn-link" type="button" [ngClass]="{'text-success': !activeEnvironment.running && !activeEnvironment.needRestart, 'text-danger': activeEnvironment.running && !activeEnvironment.needRestart, 'text-warning': activeEnvironment.running && activeEnvironment.needRestart}" (click)="toggleEnvironment(activeEnvironment)">
                  <i class="material-icons" *ngIf="activeEnvironment.running && activeEnvironment.needRestart" ngbTooltip="Server needs restart">refresh</i>
                  <i class="material-icons" *ngIf="activeEnvironment.running && !activeEnvironment.needRestart" ngbTooltip="Stop server">stop</i>
                  <i class="material-icons" *ngIf="!activeEnvironment.running" ngbTooltip="Start server">play_arrow</i>
                </button>
              </span>
              <input type="text" class="form-control" name="environment.name" [(ngModel)]="activeEnvironment.name" (ngModelChange)="environmentUpdated('name')">
            </div>
          </div>

          <div class="col-4">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">localhost:</span>
              </div>
              <input type="text" class="form-control col-2" [OnlyNumber]="{min: 0, max: 65535}" placeholder="port" name="environment.port"
                [(ngModel)]="activeEnvironment.port" (ngModelChange)="environmentUpdated('port')">
              <div class="iput-group-prepend">
                <span class="input-group-text text-warning" *ngIf="activeEnvironment.duplicates.length" ngbTooltip="Port is shared with another environment"><i class="material-icons">warning</i></span>
              </div>
              <div class="iput-group-prepend">
                <span class="input-group-text">/</span>
              </div>
              <input type="text" class="form-control" placeholder="prefix" ValidPath name="environment.endpointPrefix" [(ngModel)]="activeEnvironment.endpointPrefix"
                (ngModelChange)="environmentUpdated('endointPrefix')" ngbTooltip="Environment routes prefix">
              <div class="iput-group-prepend">
                <span class="input-group-text"><i class="material-icons">access_time</i></span>
              </div>
              <input type="text" class="form-control col-2" ngbTooltip="Global environment latency applied to all routes (ms)" [OnlyNumber]="{min: 0, max: Infinity}" name="environment.latency"
                [(ngModel)]="activeEnvironment.latency" (ngModelChange)="environmentUpdated('envLatency')">
            </div>
          </div>

          <div class="col">
            <div class="btn btn-link btn-icon float-right" [ngClass]="{'active': (environments$ | async)?.activeTab === 'ENV_SETTINGS'}" (click)="setActiveTab('ENV_SETTINGS')" ngbTooltip="Environment settings" placement="left">
              <i class="material-icons">settings</i>
            </div>
            <div class="btn btn-link btn-icon float-right" [ngClass]="{'active': (environments$ | async)?.activeTab === 'ENV_LOGS'}" (click)="setActiveTab('ENV_LOGS')" ngbTooltip="Environment logs" placement="left">
              <i class="material-icons">history</i>
            </div>
          </div>

        </ng-container>

        <ng-template #noActiveEnvironment>
          <div class="col-2 menu-columns--width">
            <div class="input-group">
              <span class="input-group-prepend">
                <button class="btn btn-link text-muted" type="button">
                  <i class="material-icons">play_arrow</i>
                </button>
              </span>
              <input type="text" class="form-control" placeholder="No environment" disabled>
            </div>
          </div>
        </ng-template>
      </div>
    </div>

    <div id="content">
      <div class="toast-container">
        <div *ngFor="let alert of alerts; index as alertIndex" class="toast" [ngClass]="'toast-' + alert.type" (click)="removeAlert(alert.id)">{{alert.message}}</div>
      </div>

      <div id="content-inner" class="row">
        <!-- Environments menu -->
        <div class="col-2 menu-columns menu-columns--width d-flex flex-column">
          <div><!-- container needed for flexboxes -->
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link text-primary" (click)="addEnvironment()">
                  <i class="material-icons">add_circle</i> Add environment
                </a>
              </li>
            </ul>
          </div>
          <ng-container *ngIf="(environments$ | async)?.state as environments">
            <ul class="nav flex-column menu-list" #environmentsMenu dragula="environmentsContainer" [dragulaModel]='environments'>
              <li class="nav-item" *ngFor="let environment of environments">
                <a class="nav-link position-relative" [ngClass]="{'active': (activeEnvironment$ | async)?.uuid === environment.uuid, 'running': environment.running && !environment.needRestart, 'need-restart': environment.needRestart}" (click)="selectEnvironment(environment.uuid)" (contextmenu)="navigationContextMenu('environment', environment.uuid, $event)">
                  <div class="ellipsis">
                    <span class="text-warning" ngbTooltip="Port is shared with another environment" placement="right"><i *ngIf="environment.duplicates.length" class="material-icons">warning</i></span>
                    {{environment.name}}
                  </div>
                  <div class="menu-subtitle ellipsis">
                    localhost:{{environment.port}}/{{environment.endpointPrefix}}
                  </div>
                  <div *ngIf="environment.proxyMode" class="server-icons server-icons-proxy-mode">
                    <i class="material-icons" ngbTooltip="Proxy mode enabled">security</i>
                  </div>
                  <div *ngIf="environment.https" class="server-icons server-icons-https">
                    <i class="material-icons" ngbTooltip="HTTPS enabled">https</i>
                  </div>
                  <div *ngIf="environment.cors" class="server-icons server-icons-cors">
                    <i class="material-icons" ngbTooltip="CORS enabled">shuffle</i>
                  </div>
                </a>
              </li>
            </ul>
          </ng-container>
        </div>

        <!-- Routes menu (only display if there is at least one environment) -->
        <div *ngIf="(environments$ | async)?.state.length" class="col-2 menu-columns menu-columns--width d-flex flex-column">
          <div><!-- container needed for flexboxes -->
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link text-primary" (click)="addRoute()">
                  <i class="material-icons">add_circle</i> Add route
                </a>
              </li>
            </ul>
          </div>
          <ng-container *ngIf="activeEnvironment$ | async as activeEnvironment">
            <ul class="nav flex-column menu-list" #routesMenu dragula="routesContainer" [dragulaModel]='currentEnvironment'>
              <li class="nav-item" *ngFor="let environmentRoute of activeEnvironment.routes">
                <a class="nav-link" [ngClass]="{'active': (activeRoute$ | async)?.uuid === environmentRoute.uuid}" (click)="selectRoute(environmentRoute.uuid)" (contextmenu)="navigationContextMenu('route', environmentRoute.uuid, $event)">
                  <div class="ellipsis">
                    <span class="text-warning" ngbTooltip="Route is duplicated"><i *ngIf="environmentRoute.duplicates.length" class="material-icons">warning</i></span>
                    <span class="badge badge-default http-method-{{environmentRoute.method}} float-right">{{environmentRoute.method | uppercase}}</span>
                    /{{environmentRoute.endpoint}}
                  </div>
                  <div class="menu-subtitle ellipsis">
                    {{environmentRoute.documentation}}
                  </div>
                </a>
              </li>
            </ul>
          </ng-container>
        </div>

        <div *ngIf="activeEnvironment$ | async as activeEnvironment" class="col d-flex flex-column main-content">

          <!-- Navigation tabs -->
          <ng-container *ngIf="activeTab$ | async as activeTab">
            <div *ngIf="activeTab !== 'ENV_SETTINGS' && activeTab !== 'ENV_LOGS'">
              <div class="row">
                <div class="col">
                  <ul class="nav nav-tabs d-flex">
                    <li class="nav-item">
                      <a class="nav-link" [ngClass]="{'active': activeTab === 'RESPONSE'}" (click)="setActiveTab('RESPONSE')">Response & Body</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [ngClass]="{'active': activeTab === 'HEADERS'}" (click)="setActiveTab('HEADERS')">Headers <i *ngIf="hasEnvironmentHeaders()" class="material-icons text-purple" ngbTooltip="Some environment headers are defined">featured_play_list</i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </ng-container>

          <!-- environment settings title and back button -->
          <ng-container *ngIf="activeTab$ | async as activeTab">
            <div *ngIf="activeTab === 'ENV_SETTINGS' || activeTab === 'ENV_LOGS'">
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-link btn-icon pl-2" (click)="setActiveTab('RESPONSE')">
                    <i class="material-icons">arrow_back</i> Back
                  </button>
                  <button *ngIf="environmentLogs[activeEnvironment.uuid]?.length && activeTab === 'ENV_LOGS'" type="button" class="btn btn-link btn-icon pl-2 float-right" (click)="clearEnvironmentLogs(activeEnvironment)">
                    <span *ngIf="!clearEnvironmentLogsTimeout"><i class="material-icons">delete</i> Clear</span>
                    <span *ngIf="clearEnvironmentLogsTimeout" class="text-danger"><i class="material-icons">delete</i> Confirm</span>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>

          <!-- WIP WIP WIP add more -->
        </div>

      </div>
    </div>

    <div class="footer">
      <div class="row">
        <div class="col pl-0 pr-0">
          <div class="footer-item with-border-right" (click)="openChangelogModal()" ngbTooltip="View changelog" placement="right">v{{appVersion}}</div>
          <div class="footer-item with-border-right" *ngIf="updateAvailable">
            <button class="btn btn-xs btn-success" (click)="applyUpdate()"><i class="material-icons material-icons-xs">update</i> New version available, click to {{(platform === 'win32') ? 'apply' : 'download'}}</button>
          </div>
          <div class="footer-item with-border-right">
            <app-banner></app-banner>
          </div>
          <div class="footer-item float-right with-border-left" (click)="openFeedbackLink()"><i class="material-icons">feedback</i> Send feedback</div>
        </div>
      </div>
    </div>
  </div>
</div>
